[build]
  publish = "public"
  functions = "netlify/functions"

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true



[functions]
  included_files = ["views/**", "public/**"]
  external_node_modules = ["ejs"]
